body {
    background-color:#eee;
}

body, h1, h2, h3, h4
{
	font-family: 'Helvetica Neue', 'Arial';
    font-weight: 400;
    font-style: normal;
    color: #333;
}

h1 {
	font-size: 24px;
}

a:hover {
	text-decoration: underline;
}

input {
	color: #777;
	font-size: 18px;
	line-height: 22px;
}

input:focus {
	color: #333;
}

main {
	position: absolute;
	padding-left: 236px;
	padding-top: 64px;
	padding-bottom: 34px;
}

header {
    position: fixed;
    left: 0;
	top: 0;
	right: 0;
    height: 26px;
    z-index: 10;
    background-color: #fff;
    border-bottom: solid 1px #333;
    margin-left: 224px; /* width of nav and padding */
    padding:12px 18px;
}

header #linkSearch {
	float: right;
	border:none;
	text-align: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 23px;
    z-index: 10;
    background-color: #fff;
    border-top: solid 1px #333;
    margin-left: 224px;
    padding: 4px 8px;
    font-size: 18px; 
    color:#777;
}

nav {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	bottom: 0;
	width:200px;
	background-color: #fff;
	border-right: solid 1px #333;
	padding:12px;
}


li {
	line-height: 30px;
}

li .selection {
	margin-right:0px;
}

li span {
	margin-right:8px;
}

.selection {
	color: #fff;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	margin: 2px auto 0px;
	padding: 2px 8px;
	border-radius: 14px;
}

.categoryColorDefault {
	background-color: #73DBC7;
	border: 1px solid #73DBC7;
}

.categoryColorNews {
	background-color: #FEC087;
	border: 1px solid #FEC087;
}

.categoryColorImages {
	background-color: #FFDB5D;
	border: 1px solid #FFDB5D;
}

.categoryColorVideos {
	background-color: #40b6fd;
	border: 1px solid #40b6fd;
}

.categoryColorDocuments {
	background-color: #40b6fd;
	border: 1px solid #40b6fd;
}


.tile {
	position: relative;
	display: inline-block;
	float: left;
	width:200px;
	height:160px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding:8px;
	border-radius: 8px;
}

.tileTitle {
	height: 72px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    padding-top:4px;
}

.domainLabel {
    float: left;
    width: 175px;
    height: 16px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tileFooter {
	position:absolute;
	bottom:2px;
	font-size: 14px;
	line-height: 14px;
	width:200px;
}

.urlType {
	float:right;
	font-size: 11px;
	color: #fff;
	font-weight: 800;
	background-color: #333;
	line-height: 19px;
	margin: 4px auto 4px;
	padding: 1px 8px;
	border-radius: 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.inactive .urlType {
	display: none;
}

.dateAdded {
	font-size: 14px;
	text-align: left;
	float:left;
	height: 20px;
	line-height: 19px;
	margin: 4px auto 4px;
	padding: 2px 2px;
}

.inactive {
	background-color: transparent;
	border: 1px #333 dashed;
}

.favicon {
	float: left;
	margin-right:4px;
}

.pagination, .pagination:hover {
	color:#333;
	font-size: 14px;
}