body {
    background-color:#eee;
}

body, h1, h2, h3, h4
{
	font-family: 'Helvetica Neue', 'Arial';
    font-weight: 400;
    font-style: normal;
    color: #333;
}

h1 {
	font-size: 24px;
}

a:hover {
	text-decoration: underline;
}

input {
	color: #777;
	font-size: 18px;
	line-height: 22px;
}

input:focus {
	color: #333;
}

main {
	padding-left: 236px;
	padding-top: 64px;
}

header {
    position: fixed;
    left: 0;
	top: 0;
	right: 0;
    height: 28px;
    z-index: 10;
    background-color: #fff;
    border-bottom: solid 1px #333;
    margin-left: 224px; /* width of nav and padding */
    padding:12px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 22px;
    z-index: 10;
    background-color: #fff;
    border-top: solid 1px #333;
    margin-left: 224px;
    padding: 3px 6px;
    font-size: 16px;
}

nav {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	bottom: 0;
	width:200px;
	background-color: #fff;
	border-right: solid 1px #333;
	padding:12px;
}

header #linkSearch {
	float: right;
	border:none;
	border-bottom:1px solid #333;
}

li {
	line-height: 30px;
}

li .selection {
	margin-right:0px;
}

li span {
	margin-right:8px;
}

.selection {
	color: #fff;
	font-weight: 400;
	background-color: #777;
	height: 20px;
	line-height: 20px;
	margin: 2px auto 0px;
	padding: 2px 8px;
	border-radius: 14px;
}

.urlType {
	float:right;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background-color: #777;
	height: 20px;
	line-height: 19px;
	margin: 2px auto 0px;
	padding: 2px 8px;
	border-radius: 14px;
}

.tile {
	position: relative;
	display: inline-block;
	float: left;
	width:200px;
	height:120px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding:8px;
	border-radius: 8px;
	background-color: #40b6fd;
	border: 1px solid #40b6fd;
}

.tileTitle {
	height: 48px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.inactive {
	background-color: transparent;
	border: 1px #333 dashed;
}

.favicon {
	margin-right:4px;
}